.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header {
  display: flex;
  align-items: center;
  gap: 16px;
}

.card {
  margin-bottom: 0;
}

.formGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 24px;
}

.roomItem {
  margin-bottom: 8px;
}

.roomGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0 16px;
}

.nearbyItem {
  display: flex;
  width: 100%;
  margin-bottom: 8px;
}

.footer {
  display: flex;
  justify-content: flex-end;
  padding: 16px 0;
}
